#odyssey .hero {
    position: relative;
    color: white;
}

#odyssey p, #odyssey li {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
}

#odyssey .hero img.main {
    width: 100vw;
    transform: translateX(-5%);
}

#odyssey .hero img.logo {
    width: 300px;
}

#odyssey .hero .logo-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#odyssey .hero .logo-container p {
    font-size: 2rem;
    font-weight: 500;
}

#odyssey .hero .links {
    position: absolute;
    bottom: 5%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#odyssey .hero .links p {
    font-size: 2.5rem;
}

#odyssey .hero .link {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

#odyssey .hover_underline_animation p {
    display: inline-block;
    width: fit-content;
    position: relative;
}

#odyssey .hover_underline_animation p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#odyssey .hover_underline_animation:hover {
    cursor: pointer;
}

#odyssey .hover_underline_animation:hover p::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#odyssey .hover_underline_animation:hover div {
    background-color: #666;
}


#odyssey .hero .links .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#odyssey .hero .links .circle svg {
    width: 80%;
    height: 80%;
}

#odyssey h1, #odyssey h2, #odyssey h3 {
    font-size: 6rem;
}

#odyssey .two-title h2 {
    font-size: 1.5rem;
}

#odyssey .two-title {
    line-height: 1.25;
}

/* overview-goal */
#odyssey .overview-goal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 4rem;
    padding: 0 4rem;
    border-left: 0.5rem solid #333;
}

#odyssey .overview-goal + img {
    width: 80%;
    margin: 4rem auto;
}

/* tasks section */
#odyssey .tasks {
    color: white;
    width: 100vw;
    transform: translateX(-5%);
    padding: 4rem 5%;
    background-image: url(/images/coursebannerimg.png);
}

#odyssey .tasks-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(6, minmax(500px, 1fr)); */
    margin: 2rem 0;
    /* transition: grid-template-columns 0.5s ease-out; */
}

#odyssey .task-item {
    display: grid;
    grid-template-columns: 1fr 0fr;
}

#odyssey .task-item.active {
    grid-template-columns: 1fr 1fr;
}

#odyssey .task {
    height: 500px;
    /* width: 100%; */
    background-color: aliceblue;
    opacity: 0.8;
    border-radius: 8px;
}

#odyssey .task.details {
    background-color: #333;
}

/* #odyssey .task.span-two {
    grid-column: span 2;
} */

/* takeaways and tech-stack section */
#odyssey .takeaways, #odyssey .tech-stack {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 4rem;
}

#odyssey .takeaways h2, #odyssey .tech-stack h2 {
    color: #666;
}

#odyssey .takeaways h3, #odyssey .tech-stack h3 {
    margin-bottom: 4rem;
}

#odyssey .tech-stack ul {
    list-style: none;
    padding-inline-start: 0;
    color: #333;
}

/* collaborator section */
#odyssey .collaborator {
    position: relative;
    padding-top: 8rem;
}

#odyssey .collaborator-container {
    display: flex;
    position: relative;
    gap: 4rem;
    width: 80%;
    padding: 0 8rem;
}

#odyssey .collaborator-container p:first-child {
    font-size: 6rem;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 100%;
    transform-origin: top left;
    /* display: inline-block;
    width: fit-content; */
}

#odyssey .collaborator h2 {
    font-size: 10rem;
    position: absolute;
    top: 0;
}

#odyssey .collaborator h3 {
    font-size: 3rem;
    font-weight: 600;
}

#odyssey .collaborator .description {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#odyssey .collaborator a {
    width: fit-content;
    margin-top: 4rem;
}