#header {
    position: fixed;
    width: 100%;
    transform: translateX(-5%);
    margin-bottom: 2rem;
    margin: 0;
    padding: 4rem 5%;
    z-index: 1000;
}

#header nav {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    background-color: var(--light-gray-color);
}

#header nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding-inline-start: 0;
}

#connect-with-me {
    border-bottom: 1px solid #000;
}

#hero {
    position: relative;
    height: 100vh;
    padding: 8rem 0 4rem 0;
}

#hero h1 {
    position: relative;
    font-size: 10rem;
    font-weight: 500;
    overflow-wrap: normal;
}

#polished-text {
    font-family: 'Bungee Shade', sans-serif;
    font-size: 8rem;
    position: absolute;
    top: 20rem;
    right: 0;
}

#digital-text {
    position: absolute;
    top: 40rem;
    left: 0;
}

#digital-text span {
    font-weight: bold;
    font-style: italic;
    color: var(--beige-color);
}

#enigma-definition {
    width: 40%;
    position: relative;
    top: 8rem;
    font-size: 1.5rem;
}

#explore-btn {
    position: absolute;
    bottom: 9rem;
    left: 0;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: #000;
    cursor: pointer;
    color: white;
}

#hero-emoticon {
    position: absolute;
    bottom: 8rem;
    right: 0;
    font-size: 8rem;
}

#hero img {
    position: absolute;
    bottom: 4rem;
    right: 50%;
    transform: translateX(50%) rotate(90deg);
    height: 3rem;
    cursor: pointer;
}

@media screen and (max-width: 2320px) {
    #hero h1 {
        font-size: 8rem;
    }

    #hero-emoticon {
        font-size: 6rem;
    }
}

@media screen and (max-width: 1920px) {
    #hero h1 {
        font-size: 6rem;
    }

    #polished-text {
        position: absolute;
        top: 15rem;
        right: 0;
    }
    
    #digital-text {
        position: absolute;
        top: 30rem;
        left: 0;
    }

    #enigma-definition {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1400px) {
    #hero h1 {
        font-size: 4rem;
    }
}