:root {
  font-family: 'Montserrat', sans-serif;
  --light-gray-color: #F7F6F8;
  --beige-color: #D2B48C;
  background-color: var(--light-gray-color);
}

body {
  margin: 0 5%;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

section {
  margin-bottom: 4rem;
}